h1 {
    color: orange
}


.header{
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p, h2 {
    text-align: center;
}

p{
   color: yellow;
}

h2{
  color: darkgoldenrod;
}

.item p{
    color: rgb(20, 32, 16); 
}

body {
    background-color: #92858739
}